.box .item:hover {
  color: #ff947f;
  transition: border-color 0.3s;
  cursor: pointer;
}

.active-tool {
  color: #9fc126 !important;
}

#downicon1 {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: calc(50% - 81px);
  transition: 0.5s;
}

#viewmenu {
  position: relative;
  z-index: 99;
  width: 162px;
  bottom: 0;
  contain: style;
  border: 1px solid;
  border-radius: 5px;
  opacity: 0.8;
  background-color: white;
  text-align: center;
}

.arrows {
  width: 46px;
  height: 67px;
  margin-left: 46px;
}

.arrows-hide {
  width: 46px;
  height: 67px;
  margin-left: 45%;
}

.arrows path, .arrows-hide path {
  stroke: black;
  fill: transparent;
  stroke-width: 5px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

.arrows path.a1, .arrows-hide path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2, .arrows-hide path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3, .arrows-hide path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.arrows:hover, .arrows-hide:hover {
  cursor: pointer;
}

@keyframes arrow {
  0% {
    opacity: 0
  }
  40% {
    opacity: 1
  }
  80% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes arrow

  {
  0% {
    opacity: 0
  }
  40% {
    opacity: 1
  }
  80% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

#covered {
  display: none;
  position: absolute;
  bottom: 52px;
  left: 44%;
  z-index: 99;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: rgba(1, 1, 91, 0.5);
  width: 12%;
  border-radius: 0.5em;
  height: 16%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  border: 4px solid #FFFFFF;
  box-shadow: 0px 0px 0px 9px rgb(1 1 91 / 30%), 6px 12px 9px 2px rgb(0 0 0 / 60%);
  transition: 0.5s;
}

.blurred-box {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "1 2 3" " 4 5 6";
  grid-gap: 1rem;
  padding: 0%;
  z-index: 99;
}

.box {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-size: 250% 250%, 100% 100%;
  transition: background-position 0s ease;
  font-size: larger;
  color: white;
}

#downicon {
  left: 48%;
  position: absolute;
  bottom: -38px;
  display: none;
  transition: 0.5s;
}

.rotate {
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -o-transform: rotate(180deg);
  /* Opera */
  transform: rotate(180deg);
}